{% extends "base.html" %}

{% block content %}
<main class="main main--about">
    <p>
        Hi, I'm Sam, founder of Bison Works. I can help you with Python, Javascript and AWS issues. Covering web
        and backend development.
    </p>
    <p>
        A pragmatic, technical and commercially focused developer. With over 20 years of Software development
        experience, expertise in delivering web-based applications, services and enterprise solutions across a diverse
        range of industries, with an excellent track record of delivering both open source and Microsoft based software
        solutions. Team focussed, with valuable problem-solving skills and the ability to engage with stakeholders at
        all levels to ensure needs are identified and fully addressed. with an eye for the bigger picture; providing
        cutting edge solutions with both the end user and business goals in mind.
    </p>
    <p>
        Delivering high quality solutions following agile and lean product development methodologies.
    </p>
    <p>
        I'm experienced programming in Python, Angular, Flask, Django. Working extensively with MongoDB, SQL Server,
        Postgres and with AWS.
    </p>
</main>
{% endblock %}