{% extends "base.html" %}

{% block content %}

<main class="main main--content">
    <dl>
        <div class="contact">
            <dt>email:</dt>
            <dd class="contact__details">
                <a href="mailto:sam.t.dickinson@gmail.com" class="contact__link">
                    sam.t.dickinson [at] gmail.com
                </a>
            </dd>
        </div>

        <div class="contact">
            <dt>github:</dt>
            <dd class="contact__details">
                <a href="https://github.com/SamTDickinson" class="contact__link">
                    @SamTDickinson
                </a>
            </dd>
        </div>

        <div class="contact">
            <dt>linkedin:</dt>
            <dd class="contact__details">
                <a href="https://www.linkedin.com/in/samdickinson1/" class="contact__link">
                    @SamDickinson
                </a>
            </dd>
        </div>
    </dl>
</main>
{% endblock %}